{#
/**
 * This file is part of the Presta Bundle project.
 *
 * (c) Nicolas Bastien nbastien@prestaconcept.net
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
/**
 * Import / Export administration main screen
 */
#}

{% extends base_template %}

{% block title %}
    CMS Import / Export
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        '@PrestaCMSCoreBundle/Resources/public/jstree/dist/themes/presta/style.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        '@PrestaCMSCoreBundle/Resources/public/jstree/dist/jstree.min.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript">
        var website_selector_url = "{{ path('presta_cms_data', { 'website_id' : website_id, 'locale' : locale }) }}";
    </script>
    {% if (navigations is defined)%}
        <script type="text/javascript">
            $(document).ready(function() {
                {% for key, navigation in navigations %}
                // call `.jstree` with the options object
                $("#jstree_{{ key }}").jstree({
                    // the `plugins` array allows you to configure the active plugins on this instance
                    "plugins" : ["themes","html_data"],
                    // each plugin you have included can have its own config object
                    "core" : {  },
                    // it makes sense to configure a plugin only if overriding the defaults
                    "themes" : {
                        "theme" : "presta"
                    }
                });
                {% endfor %}
            });
        </script>
    {% endif %}
{% endblock %}

{% block content %}
<div class="sonata-ba-form">
    <div class="form-horizontal">
        <fieldset>
            <legend>Export</legend>
            {{ sonata_block_render({
                'type': 'presta_cms.block.website.selector',
                'settings': {'website_id' : website_id, 'locale' : locale, 'with_fieldset' : false}
            }) }}
            {% if (navigations is defined)%}
            <div class="control-group">
                <label class="control-label">{{ 'cms_page_tree.title'|trans }}</label>
                <div id="page-tree-container" class="controls sonata-ba-field sonata-ba-field-standard-natural ">
                    {% for key, navigation in navigations %}
                    <h4>{{ ['navigation.', key, '.title']|join|trans }}</h4>
                    <div id="jstree_{{ key }}">{{ navigation|raw }}</div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            <div class="fieldset-actions">
                <a class="btn" href="#">
                    <i class=" icon-download"></i>&nbsp;
                    Export
                </a>
            </div>
        </fieldset>
    </div>
</div>

<div class="sonata-ba-form">
    <div class="form-horizontal">
        <fieldset>
            <legend>Import</legend>

            <div class="control-group">
                <label class="control-label" for="fileInput">File input</label>
                <div class="controls">
                    <input class="input-file" id="fileInput" type="file">
                    <a class="presta-input-tooltips" href="#" rel="tooltip" data-original-title="Select a file made by CMS export module">
                        <img src="/bundles/prestasonataadmin/img/icons/info-16.png" alt="info">
                    </a>
                </div>
            </div>
            <div class="fieldset-actions">
                <a class="btn" href="#">
                    <i class=" icon-upload"></i>&nbsp;
                    Import
                </a>
            </div>
        </fieldset>
    </div>
</div>

{% endblock %}

