
{{ sonata_block_render({
    'type': 'presta_cms.block.website.selector',
    'settings': {'website_id' : websiteId, 'locale' : locale, 'url' : path('presta_cms_page'), 'with_fieldset': false }
}) }}
<script type="text/javascript">
    var website_selector_url = "{{ path('presta_cms_page') }}";
</script>
<fieldset class="cms_page_tree">
    <legend>{{ 'cms_page_tree.title'|trans({}, 'PrestaCMSCoreBundle') }}</legend>
    {%  if (websiteId|length > 0) %}
        <div id="page-tree-container" class="control-group">
            <h4>{{ 'navigation.title'|trans({}, 'PrestaCMSCoreBundle') }}</h4>

            {% render "PrestaCMSCoreBundle:Admin/Page:renderPageTree" with {'root': websiteId~"/menu", 'selected': '/' ~ menuItemId, 'locale': locale } %}

            <script type="text/javascript">
                $(document).ready(function() {
                    $('#tree').unbind('select_node.jstree');
                    $('#tree').unbind('move_node.jstree');

                    $('#tree').bind("select_node.jstree", function (event, data) {
                        if ((data.rslt.obj.attr("rel") == 'Symfony_Cmf_Bundle_MenuBundle_Document_MenuNode'
                            || data.rslt.obj.attr("rel") == 'Symfony_Cmf_Bundle_MenuBundle_Document_MultilangMenuNode')
                            && data.rslt.obj.attr("id") != '{{ menuItemId }}'
                        ) {
                            var routing_defaults = {'locale': '{{ locale }}', '_locale': '{{ _locale }}'};
                            routing_defaults["id"] = data.rslt.obj.attr("url_safe_id");
                            window.location = Routing.generate('presta_cms_page_edit', routing_defaults);
                        }
                    });
                    $('#tree').bind("before.jstree", function (e, data) {
                        if (data.func === "dnd" && data.plugin === "contextmenu") {
                            e.stopImmediatePropagation();
                            return false;
                        }
                    });
                });
            </script>
        </div>
    {% else %}
        <p>{{ 'cms_page.select_website'|trans({}, 'PrestaCMSCoreBundle') }}</p>
    {% endif %}
</fieldset>
