{#
/**
 * This file is part of the Presta Bundle project.
 *
 * (c) Nicolas Bastien nbastien@prestaconcept.net
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
/**
 * Page Tree
 */
#}

{{ sonata_block_render({
    'type': 'presta_cms.block.website.selector',
    'settings': {'website_id' : website_id, 'locale' : locale}
}) }}
<script type="text/javascript"> 
    {% if (id) %}
        var website_selector_url = "{{ path('presta_cms_page_edit', { 'id': id }) }}";    
    {% else %}
        var website_selector_url = "{{ path('presta_cms_page', { 'id': id }) }}";    
    {% endif %}
</script>  
<fieldset class="cms_page_tree">
    <legend>Pages</legend>
    <div id="page-tree-container" class="control-group">
        {% for key, navigation in navigations %}
            <h4>{{ key }}</h4>
            <div id="jstree_{{ key }}">{{ navigation|raw }}</div>        
        {% endfor %}
    </div>
</fieldset>
