{% trans_default_domain "PrestaCMSCoreBundle" %}

{{ sonata_block_render({
    'type': 'presta_cms.block.website.selector',
    'settings': {'website_id' : websiteId, 'locale' : locale, 'url' : path('presta_cms_page_edit'), 'with_fieldset': false }
}) }}

<fieldset class="cms_page_tree">
    {#<legend>{{ 'cms_page_tree.title'|trans({}, 'PrestaCMSCoreBundle') }}</legend>#}
    {%  if (websiteId|length > 0) %}
        <div id="page-tree-container" class="control-group">
            <h4>
                <a class="btn btn-tooltip btn-small action-add-page" data-placement="right"
                   data-toggle="tooltip" title="{{ 'button.page.add.tooltip'|trans }}">
                    <i class="icon-plus"></i>
                </a>
                &nbsp;{{ 'cms_page_tree.title'|trans }}
            </h4>

            {% render url('presta_cms_page_tree', {'root': websiteId~"/menu", 'selected': '/' ~ menuItemId }) %}

            <script type="text/javascript">
                $(document).ready(function() {
                    $('#tree').unbind('select_node.jstree');

                    {% if not is_granted("ROLE_ADMIN_CMS_PAGE_MOVE") %}
                        $('#tree').unbind('move_node.jstree');
                    {% endif %}

                    $('#tree').bind("select_node.jstree", function (event, data) {
                        if ((data.rslt.obj.attr("rel") == 'Presta_CMSCoreBundle_Doctrine_Phpcr_MenuNode')
                            && data.rslt.obj.attr("id") != '{{ menuItemId }}'
                        ) {
                            var routing_defaults = { '_locale': '{{ _locale }}' };
                            routing_defaults["id"] = data.rslt.obj.attr("url_safe_id");
                            window.location = Routing.generate('presta_cms_page_edit', routing_defaults);
                        }
                    });
                    $('#tree').bind("before.jstree", function (e, data) {
                        if (data.plugin === "contextmenu") {
                            e.stopImmediatePropagation();
                            return false;
                        }
                        {% if not is_granted("ROLE_ADMIN_CMS_PAGE_MOVE") %}
                            if (data.plugin === "dnd") {
                                e.stopImmediatePropagation();
                                return false;
                            }
                        {% endif %}
                    });
                });
            </script>
        </div>
    {% else %}
        <p>{{ 'cms_page.select_website'|trans }}</p>
    {% endif %}
</fieldset>
