{% extends base_template %}
{% trans_default_domain "PrestaCMSCoreBundle" %}
{% block html_attributes %}ng-app="PrestaCMS.Page"{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% if (theme is defined) %}
        <link rel="stylesheet" href="{{ asset('' ~ theme.adminStyle) }}"></script>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/prestacmscore/admin/libs/angularjs/angular.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/prestacmscore/admin/js/page/ng-seo.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            // issue 99: remove the confirmation alert when changing cms page
            window.onbeforeunload = function() {
                return;
            };
        });
    </script>
{% endblock %}

{% block side_menu %}
    {% include 'PrestaCMSCoreBundle:Admin/Page:_sidebar.html.twig' %}
{% endblock %}

{% block title %}
    {% if (page) %}
        {{ page.title }} {% if (app.environment == 'dev') %}-{{ page.locale }}{% endif %}
    {% else %}
        Pages
    {% endif %}
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ url('sonata_admin_dashboard') }}">{{ 'breadcrumb.link_dashboard'|trans }}</a><span class="divider">/</span></li>
    <li class="active"><a href="{{ url('presta_cms_page_edit') }}">{{ 'breadcrumb.link_page_list'|trans }}</a></li>
    {% if (page) %}<li class="active"><span class="divider">/</span> {{ page.title }} </li>{% endif %}
{% endblock %}

{%block actions %}
    {% if (page) %}
    <div class="sonata-actions subnav">
        <a class="btn btn-tooltip action-add-page" data-placement="top"
           root-id="{{ menuItemId }}"
           data-toggle="tooltip" title="{{ 'button.page.add_subpage.tooltip'|trans }}">
            <i class="icon-plus"></i>
        </a>
        <a class="btn btn-tooltip" href="{{ path('presta_cms_page_delete', {'id': page.id}) }}"
           data-toggle="tooltip" title="{{ 'button.page.delete.tooltip'|trans }}">
            <i class="icon-trash"></i>
            {#&nbsp;{{ 'button.page.delete'|trans }}#}
        </a>
        <a class="btn btn-tooltip" target="_blank" href="{{ pageFrontUrl }}"
           data-toggle="tooltip" data-placement="left" title="{{ 'button.page.preview.tooltip'|trans }}">
            <i class="icon-eye-open"></i>
            {#&nbsp;{{ 'button.page.preview'|trans }}#}
        </a>
        <a class="btn btn-success btn-tooltip" href="{{ path('presta_cms_page_clear_cache', {'id': page.id}) }}"
           data-toggle="tooltip" data-placement="left" title="{{ 'button.page.clear_cache.tooltip'|trans }}">
            <i class="icon-refresh"></i>
            {#&nbsp;{{ 'button.page.clear_cache'|trans }}#}
        </a>
    </div>
    {% endif %}
{% endblock %}

{% block content %}
    {% if (page) %}
        <ul class="nav nav-tabs">
            {% for tab in pageEditTabs %}
                <li class="{% if (loop.index == 1) %}active{% endif %}"><a href="#{{ ['cms-page-', tab]|join }}" data-toggle="tab">{{ ['cms_page.', tab, '.title']|join|trans }}</a></li>
            {% endfor %}
            <li><a href="#seo" data-toggle="tab">{{ 'cms_page.seo.title'|trans }}</a></li>
            {#<li><a href="#routing" data-toggle="tab">{{ 'cms_page.url.redirect'|trans }}</a></li>#}
            {#<li><a href="#settings" data-toggle="tab">{{ 'cms_page.settings.title'|trans }}</a></li>#}
        </ul>

        {% form_theme form 'SonataAdminBundle:Form:form_admin_fields.html.twig' %}

        <div class="tab-content sonata-ba-form">
            {% for tab in pageEditTabs %}
            <div class="tab-pane form-horizontal {% if (loop.index == 1) %}active{% endif %}" id="{{ ['cms-page-', tab]|join }}">
                {#{% render "PrestaCMSCoreBundle:Admin/Page:renderEditTab" with {'_locale': locale, 'tab': tab, 'page': page} %}#}
                {{ render(controller('PrestaCMSCoreBundle:Admin/Page:renderEditTab', {'_locale': locale, 'tab': tab, 'page': page})) }}
            </div>
            {% endfor %}
            <div class="tab-pane form-horizontal" id="seo" ng-controller="SeoController"
                 ng-init="init('{{ page.urlRelative }}', '{{ page.pathComplete }}', '{{ page.urlComplete }}', {% if (page.isUrlCompleteMode) %} true {% else %} false {% endif %})">

                <form id="edit_form" class="form-horizontal" method="POST">
                    <fieldset>
                        <legend>{{ 'cms_page.seo.title'|trans }}</legend>
                        <div class="sonata-ba-collapsed-fields">

                            {{ form_errors(form) }}

                            <div class="control-group" id="sonata-ba-field-container-page_url" ng-show="!isUrlCompleteMode">
                                {{ form_label(form.urlRelative)}}
                                {{ form_errors(form.urlRelative) }}
                                <div class="controls sonata-ba-field sonata-ba-field-standard-natural ">
                                    <input type="text" id="page_urlRelative" name="page[urlRelative]" ng-model="urlRelative" >
                                    <span class="help-block">{{ 'cms_page.form.seo.label.url_complete' | trans }} : {% verbatim %}{{ pathComplete }}{{ urlRelative | cleanUrl }}{% endverbatim %}</span>
                                </div>
                            </div>

                            <div class="control-group" id="sonata-ba-field-container-page_url" ng-show="isUrlCompleteMode">
                                {{ form_label(form.urlComplete)}}
                                {{ form_errors(form.urlComplete) }}
                                <div class="controls sonata-ba-field sonata-ba-field-standard-natural ">
                                    <input type="text" id="page_urlComplete" name="page[urlComplete]" ng-model="urlComplete" >
                                    <span class="help-block">{{ 'cms_page.form.seo.help.url_complete' | trans }}</span>
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="controls sonata-ba-field sonata-ba-field-standard-natural ">
                                    <label class="checkbox">
                                        <input type="checkbox" name="page[urlCompleteMode]" ng-model="isUrlCompleteMode" /> {{ 'cms_page.form.seo.label.url_complete_mode' | trans }}
                                    </label>
                                </div>
                            </div>

                            {{ form_row(form.title)}}
                            {{ form_row(form.metaKeywords)}}
                            {{ form_row(form.metaDescription)}}
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <a class="btn btn-primary" onclick="$('#edit_form').submit();">
                                    <i class="icon-ok icon-white"></i>&nbsp;{{ 'button.save'|trans }}
                                </a>
                            </div>
                        </div>
                    </fieldset>
                    {{ form_row(form._token) }}
                </form>
            </div>
            {#<div class="tab-pane form-horizontal" id="routing">#}
                {#{{ render(controller("PrestaCMSCoreBundle:Admin/Page:renderRouting", {'_locale': locale, 'page': page})) }}#}
            {#</div>#}
                {#<div class="tab-pane form-horizontal" id="settings">#}
                    {#<fieldset>#}
                        {#<legend>{{ 'cms_page.settings.title'|trans }}</legend>#}
                        {#{{ form_row(form.name)}}#}
                        {#{{ form_row(form.isActive)}}#}
                        {#{{ form_row(form.settings)}}#}
                    {#</fieldset>#}
                {#</div>#}

        </div>
    {% endif %}
{% endblock %}
