{#
/**
 * This file is part of the Presta Bundle project.
 *
 * (c) Nicolas Bastien <nbastien@prestaconcept.net>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
/**
 * Page administration main screen 
 */
#}

{% extends base_template %}



{% block side_menu %}
    {% include 'PrestaCMSCoreBundle:Admin/Page:_sidebar.html.twig' %}
{% endblock %}

{% block title %}
    {% if (page) %}
        {{ page.title }}
    {% else %}
        Pages
    {% endif %}
{% endblock %}

{% block breadcrumb %}
    CMS > Gestion des pages {% if (page) %} > {{ page.title }} {% endif %}
{% endblock %}

{%block actions %}
    {% if (page) %}
    <div class="sonata-actions subnav">
        <div class="">
            {#<a class="btn btn-danger" type="button"><i class="icon-remove icon-white"></i>&nbsp;{{ 'button.delete'|trans }}</a>#}
            {#<button class="btn" type="button"><i class=" icon-eye-open "></i>&nbsp;{{ 'button.preview'|trans }}</button>#}
            {#<button class="btn btn-success" type="button"><i class="icon-retweet icon-white"></i>&nbsp;{{ 'button.publish'|trans }}</button>#}
            <a class="btn btn-primary" onclick="$('#edit_form').submit();"><i class="icon-ok icon-white"></i>&nbsp;{{ 'button.save'|trans }}</a>
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block content %}
    {% if (page) %}
		{# todo refactor modal : dans layout + js #}
		<div id="modal" class="modal modal-large hide">
			<div class="modal-header">
				<h3 id="modal-title">{{ 'modal.edit.block.title'|trans({}, 'PrestaCMSCoreBundle') }}</h3>
			</div>
			<div id="modal-body" class="modal-body">
				<div id="modal-loader">
					<img src="{{ asset('bundles/prestasonataadmin/img/loader.gif') }}" />
				</div>
				<div id="modal-content"></div>
			</div>
			<div class="modal-footer">
				<a href="#" class="btn" data-dismiss="modal"><i class="icon-ok icon-remove"></i>&nbsp;{{ 'button.close'|trans({}, 'PrestaCMSCoreBundle') }}</a>
				<a href="#" class="btn btn-primary" onclick="CMSContent.submitModalForm();"><i class="icon-ok icon-white"></i>&nbsp;{{ 'button.save'|trans({}, 'PrestaCMSCoreBundle') }}</a>
			</div>
		</div>
        <ul class="nav nav-tabs">
            {% for type, tab in pageEditTabs %}
                <li class="{% if (loop.index == 1) %}active{% endif %}"><a href="#{{ [type, '-', tab]|join }}" data-toggle="tab">{{ [type, '.', tab, '.title']|join|trans({}, 'PrestaCMSCoreBundle') }}</a></li>
            {% endfor %}
            <li><a href="#seo" data-toggle="tab">{{ 'cms_page.seo.title'|trans({}, 'PrestaCMSCoreBundle') }}</a></li>
            <li><a href="#settings" data-toggle="tab">{{ 'cms_page.settings.title'|trans({}, 'PrestaCMSCoreBundle') }}</a></li>
        </ul>
        <form id="edit_form" class="form-horizontal" method="POST">
            {% form_theme form 'SonataAdminBundle:Form:form_admin_fields.html.twig' %}

            <div class="tab-content">
                {% for type, tab in pageEditTabs %}
                <div class="tab-pane form-horizontal {% if (loop.index == 1) %}active{% endif %}" id="{{ [type, '-', tab]|join }}">
                    {% render "PrestaCMSCoreBundle:Admin/Page:renderEditTab" with {'type': type, 'tab': tab, 'page': page} %}
                </div>
                {% endfor %}
                <div class="tab-pane form-horizontal" id="seo">
                    <fieldset>
                        <legend>{{ 'cms_page.seo.title'|trans({}, 'PrestaCMSCoreBundle') }}</legend>
                        <div class="sonata-ba-collapsed-fields">
                            {{ form_row(form.url)}}
                            {{ form_row(form.title)}}
                            {{ form_row(form.metaKeywords)}}
                            {{ form_row(form.metaDescription)}}
                        </div>
                    </fieldset>
                </div>
                <div class="tab-pane form-horizontal" id="settings">
                    <fieldset>
                        <legend>{{ 'cms_page.settings.title'|trans({}, 'PrestaCMSCoreBundle') }}</legend>
                        {{ form_row(form.name)}}
                        {{ form_row(form.isActive)}}
                        {{ form_row(form.settings)}}
                        {{ form_rest(form) }}
                    </fieldset>
                </div>
            </div>
        </form>
    {% endif %}
{% endblock %}