{#
/**
 * This file is part of the Presta Bundle project.
 *
 * (c) Nicolas Bastien <nbastien@prestaconcept.net>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
/**
 * Page administration main screen 
 */
#}

{% extends base_template %}


{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        '@PrestaCMSCoreBundle/Resources/public/jstree/dist/themes/presta/style.css'
    %}

    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

{% endblock %}



{% block side_menu %}
    {% include 'PrestaCMSCoreBundle:Admin/Page:_sidebar.html.twig' %}
{% endblock %}

{% block title %}
    {% if (page) %}
        {{ page.title }}
    {% else %}
        Pages
    {% endif %}
{% endblock %}

{%block actions %}
    {% if (page) %}
    <div class="sonata-actions subnav">
        <div class="">
            {#<a class="btn btn-danger" type="button"><i class="icon-remove icon-white"></i>&nbsp;{{ 'button.delete'|trans }}</a>#}
            {#<button class="btn" type="button"><i class=" icon-eye-open "></i>&nbsp;{{ 'button.preview'|trans }}</button>#}
            {#<button class="btn btn-success" type="button"><i class="icon-retweet icon-white"></i>&nbsp;{{ 'button.publish'|trans }}</button>#}
            <a class="btn btn-primary" onclick="$('#edit_form').submit();"><i class="icon-ok icon-white"></i>&nbsp;{{ 'button.save'|trans }}</a>
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block content %}
    {% if (page) %}
		{# todo refactor modal : dans layout + js #}
		<div id="modal" class="modal modal-large hide">
			<div class="modal-header">
				<h3 id="modal-title">{{ 'modal.edit.block.title'|trans }}</h3>
			</div>
			<div id="modal-body" class="modal-body">
				<div id="modal-loader">
					<img src="{{ asset('bundles/prestasonataadmin/img/loader.gif') }}" />
				</div>
				<div id="modal-content"></div>
			</div>
			<div class="modal-footer">
				<a href="#" class="btn" data-dismiss="modal"><i class="icon-ok icon-remove"></i>&nbsp;{{ 'button.close'|trans }}</a>
				<a href="#" class="btn btn-primary" onclick="CMSContent.submitModalForm();"><i class="icon-ok icon-white"></i>&nbsp;{{ 'button.save'|trans }}</a>
			</div>
		</div>
        <ul class="nav nav-tabs">
            {% for type, tab in pageEditTabs %}
                <li class="{% if (loop.index == 1) %}active{% endif %}"><a href="#{{ [type, '-', tab]|join }}" data-toggle="tab">{{ [type, '.', tab, '.title']|join|trans }}</a></li>
            {% endfor %}
            <li><a href="#seo" data-toggle="tab">{{ 'page_cms.seo.title'|trans }}</a></li>
            <li><a href="#settings" data-toggle="tab">{{ 'page_cms.settings.title'|trans }}</a></li>
	        {# tmp demo st gobain #}
			{#<li><a href="#permission" data-toggle="tab">Permissions</a></li>#}
	        {#<li><a href="#history" data-toggle="tab">History</a></li>#}
	        {# end - tmp demo st gobain #}
        </ul>
        <form id="edit_form" class="form-horizontal" method="POST">
            {% form_theme form 'PrestaSonataAdminBundle:Form:form_admin_fields.html.twig' %}

            <div class="tab-content">
                {% for type, tab in pageEditTabs %}
                <div class="tab-pane form-horizontal {% if (loop.index == 1) %}active{% endif %}" id="{{ [type, '-', tab]|join }}">
                    {% render "PrestaCMSCoreBundle:Admin/Page:renderEditTab" with {'type': type, 'tab': tab, 'page': page} %}
                </div>
                {% endfor %}
                <div class="tab-pane form-horizontal" id="seo">
                    <fieldset>
                        <legend>{{ 'page_cms.seo.title'|trans }}</legend>
                        <div class="sonata-ba-collapsed-fields">
                            {{ form_row(form.url)}}
                            {{ form_row(form.title)}}
                            {{ form_row(form.metaKeywords)}}
                            {{ form_row(form.metaDescription)}}
                        </div>
                    </fieldset>
                </div>
                <div class="tab-pane form-horizontal" id="settings">
                    <fieldset>
                        <legend>{{ 'page_cms.settings.title'|trans }}</legend>
                        {{ form_row(form.name)}}
                        {{ form_row(form.active)}}
                        {{ form_row(form.settings)}}
                        {{ form_rest(form) }}
                    </fieldset>
                </div>
	            {# tmp demo st gobain #}
				{#<div class="tab-pane" id="permission">#}
	            {#<table class="table table-bordered table-striped">#}
		            {#<thead>#}
		            {#<tr>#}
			            {#<th>Groupname</th>#}
			            {#<th>Permission</th>#}
		            {#</tr>#}
		            {#</thead>#}
		            {#<tbody>#}
		            {#<tr>#}
			            {#<td>#}
				            {#<span style="font-weight: bold;">Novice - Aguerris</span>#}
			            {#</td>#}
			            {#<td><input type="checkbox" name="permissions[3][read]" checked="checked"></td>#}
		            {#</tr>#}
		            {#<tr>#}
			            {#<td>#}
				            {#<span style="font-weight: bold;">Prospect - Visiteur</span>#}
			            {#</td>#}
			            {#<td><input type="checkbox" name="permissions[1][read]" checked="checked"></td>#}
		            {#</tr>#}
		            {#<tr>#}
			            {#<td>#}
				            {#<span style="font-weight: bold;">Institutionnel</span>#}
			            {#</td>#}
			            {#<td><input type="checkbox" name="permissions[2][read]" checked="checked"></td>#}
		            {#</tr>#}
		            {#</tbody>#}
	            {#</table>#}
            {#</div>#}
	            {#<div class="tab-pane" id="history">#}
		            {#<table class="table table-bordered table-striped">#}
			            {#<thead>#}
			            {#<tr>#}
				            {#<th>Title</th>#}
				            {#<th>Last Modification</th>#}
				            {#<th>User</th>#}
				            {#<th style="width: 110px;">Actions</th>#}
			            {#</tr>#}
			            {#</thead>#}
			            {#<tbody>#}
			            {#<tr>#}
				            {#<td><span style="font-weight: bold;">Default</span></td>#}
				            {#<td>16 May 2012 08:43</td>#}
				            {#<td>Nicolas Bastien</td>#}
				            {#<td>#}
					            {#<div class="btn-group">#}
						            {#<a class="btn btn-danger" href="#"><i class="icon-remove icon-white"></i></a>#}
						            {#<a class="btn" href="#"><i class="icon-eye-open"></i></a>#}
						            {#<a class="btn btn-success" href="#"><i class="icon-retweet icon-white"></i></a>#}
					            {#</div>#}
				            {#</td>#}
			            {#</tr>#}
			            {#<tr>#}
				            {#<td><span style="font-weight: bold;">Basic</span></td>#}
				            {#<td>16 May 2012 08:43</td>#}
				            {#<td>Nicolas Bastien</td>#}
				            {#<td>#}
					            {#<div class="btn-group">#}
						            {#<a class="btn btn-danger" href="#"><i class="icon-remove icon-white"></i></a>#}
						            {#<a class="btn" href="#"><i class="icon-eye-open"></i></a>#}
						            {#<a class="btn btn-success" href="#"><i class="icon-retweet icon-white"></i></a>#}
					            {#</div>#}
				            {#</td>#}
			            {#</tr>#}
			            {#<tr>#}
				            {#<td><span style="font-weight: bold;">Bordered</span></td>#}
				            {#<td>16 May 2012 08:43</td>#}
				            {#<td>Nicolas Bastien</td>#}
				            {#<td>#}
					            {#<div class="btn-group">#}
						            {#<a class="btn btn-danger" href="#"><i class="icon-remove icon-white"></i></a>#}
						            {#<a class="btn" href="#"><i class="icon-eye-open"></i></a>#}
						            {#<a class="btn btn-success" href="#"><i class="icon-retweet icon-white"></i></a>#}
					            {#</div>#}
				            {#</td>#}
			            {#</tr>#}
			            {#<tr>#}
				            {#<td><span style="font-weight: bold;">Zebra-stripe</span></td>#}
				            {#<td>16 May 2012 08:43</td>#}
				            {#<td>Nicolas Bastien</td>#}
				            {#<td>#}
					            {#<div class="btn-group">#}
						            {#<a class="btn btn-danger" href="#"><i class="icon-remove icon-white"></i></a>#}
						            {#<a class="btn" href="#"><i class="icon-eye-open"></i></a>#}
						            {#<a class="btn btn-success" href="#"><i class="icon-retweet icon-white"></i></a>#}
					            {#</div>#}
				            {#</td>#}
			            {#</tr>#}
			            {#<tr>#}
				            {#<td><span style="font-weight: bold;">Condensed</span></td>#}
				            {#<td>16 May 2012 08:43</td>#}
				            {#<td>Nicolas Bastien</td>#}
				            {#<td>#}
					            {#<div class="btn-group">#}
						            {#<a class="btn btn-danger" href="#"><i class="icon-remove icon-white"></i></a>#}
						            {#<a class="btn" href="#"><i class="icon-eye-open"></i></a>#}
						            {#<a class="btn btn-success" href="#"><i class="icon-retweet icon-white"></i></a>#}
					            {#</div>#}
				            {#</td>#}
			            {#</tr>#}
			            {#</tbody>#}
		            {#</table>#}
	            {#</div>#}
	            {# end - tmp demo st gobain #}
            </div>
        </form>
    {% endif %}
{% endblock %}