{#
/**
 * CMS Page selector for Wysiwyg
 */
#}
<html class="no-js">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/sonataadmin/bootstrap/css/bootstrap.min.css') }}" />
    {% stylesheets
                '@SonatajQueryBundle/Resources/public/themes/flick/jquery-ui-1.8.16.custom.css'

                '@SonataAdminBundle/Resources/public/css/layout.css'
                '@SonataAdminBundle/Resources/public/css/colors.css'
                '@PrestaSonataAdminBundle/Resources/public/css/colors_extends.css'
                '@PrestaSonataAdminBundle/Resources/public/css/layout_extends.css'
            %}

    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    {% endblock %}

    {% block javascripts %}
        {% javascripts
                '@SonatajQueryBundle/Resources/public/jquery-1.7.1.js'
                '@SonatajQueryBundle/Resources/public/jquery-ui-1.8.17.js'
                '@SonatajQueryBundle/Resources/public/jquery-ui-i18n.js'
                '@SonataAdminBundle/Resources/public/bootstrap/js/bootstrap.min.js'
                '@SonataAdminBundle/Resources/public/qtip/jquery.qtip-1.0.0-rc3.min.js'
                '@SonataAdminBundle/Resources/public/jquery/jquery.form.js'
                '@SonataAdminBundle/Resources/public/base.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% if (navigations is defined)%}
    <script type="text/javascript">
        $(document).ready(function() {
            {% for key, navigation in navigations %}
            $("#jstree_{{ key }}").find('li').find('a').each(function(index) {
                $(this).attr('href', '#');
                $(this).attr('onClick', "FileBrowserDialogue.prestaSubmit($(this).parent().attr('id'));");
            });

            // call `.jstree` with the options object
            $("#jstree_{{ key }}").jstree({
                // the `plugins` array allows you to configure the active plugins on this instance
                "plugins" : ["themes","html_data"],
                // each plugin you have included can have its own config object
                "core" : {  },
                // it makes sense to configure a plugin only if overriding the defaults
                "themes" : {
                    "theme" : "presta"
                }
            });
            {% endfor %}
        });
    </script>
    <script type="text/javascript">
        var FileBrowserDialogue = {
            init : function () {
            },
            prestaSubmit : function (url) {
                var URL = url;
                var win = tinyMCEPopup.getWindowArg("window");
                // insert information now
                win.document.getElementById(tinyMCEPopup.getWindowArg("input")).value = URL;
                // are we an image browser
                if (typeof(win.ImageDialog) != "undefined") {
                    // we are, so update image dimensions...
                    if (win.ImageDialog.getImageData)
                        win.ImageDialog.getImageData();

                    // ... and preview if necessary
                    if (win.ImageDialog.showPreviewImage)
                        win.ImageDialog.showPreviewImage(URL);
                }

                // close popup window
                tinyMCEPopup.close();
            }
        }
        tinyMCEPopup.onInit.add(FileBrowserDialogue.init, FileBrowserDialogue);
    </script>
    {% endif %}

    {% endblock %}

    <title></title>
</head>
<body class="sonata-bc" onload="tinyMCEPopup.executeOnLoad('init();')">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="sonata-ba-form">
                <div class="form-horizontal">
                    {% if (navigations is defined)%}
                        <div class="control-group">
                            <label class="control-label">{{ 'cms_page_tree.title'|trans }}</label>
                            <div id="page-tree-container" class="controls sonata-ba-field sonata-ba-field-standard-natural ">
                                {% for key, navigation in navigations %}
                                <h4>{{ ['navigation.', key, '.title']|join|trans }}</h4>
                                <div id="jstree_{{ key }}">{{ navigation|raw }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</body>
