{% extends base_template %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('' ~ theme.adminStyle) }}" />
    <link rel="stylesheet" href="{{ asset('bundles/cmftreebrowser/js/themes/default/style.css') }}" />
{% endblock %}

{% block title %}
    Theme - {{ theme.name }}
{% endblock %}
{% block breadcrumb %}
<li><a href="{{ url('sonata_admin_dashboard') }}">{{ 'breadcrumb.link_dashboard'|trans([], 'PrestaCMSCoreBundle') }}</a><span class="divider">/</span></li>
<li class="active"><a href="{{ url('presta_cms_theme') }}">{{ 'breadcrumb.link_theme_list'|trans([], 'PrestaCMSCoreBundle') }}</a><span class="divider">/</span></li>
<li class="active">{{ theme.name }}</li>
{% endblock %}

{% block content %}
<div class="sonata-ba-form">
    <div class="form-horizontal">
        <fieldset>
            <legend>{{ 'theme.label.general'|trans([], 'PrestaCMSCoreBundle') }}</legend>
            <div class="row-fluid sonata-ba-collapsed-fields">
                <div class="span5 center">
                    <img src="{{ asset(theme.screenshot) }}" class="sonata-ba-img-box" />
                </div>
                <div class="span7">
                    <table class="table ">
                        <tbody>
                            <tr>
                                <th><label>{{ 'theme.label.name'|trans([], 'PrestaCMSCoreBundle') }}</label></th><td>{{ theme.name }}</td>
                            </tr>
                            <tr>
                                <th><label>{{ 'theme.label.description'|trans([], 'PrestaCMSCoreBundle') }}</label></th><td>{{ theme.description }}</td>
                            </tr>
                            <tr>
                                <th><label>{{ 'theme.label.zones'|trans([], 'PrestaCMSCoreBundle') }}</label></th>
                                <td>
                                    <ul>
                                    {% for zone in theme.zones %}
                                        {% if (zone.name) %}<li><strong>{{ zone.name }}</strong></li>{% endif %}
                                    {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <th><label>{{ 'theme.label.page_templates'|trans([], 'PrestaCMSCoreBundle') }}</label></th>
                                <td>
                                    <ul>
                                    {% for template in theme.pageTemplates %}
                                        <li><strong>{{ template.name }}</strong>{# : <p>{{ template.path }}</p> #}</li>
                                    {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </fieldset>
    </div>
</div>

<div class="sonata-ba-form">
    <div class="form-horizontal">
        <fieldset>
            <legend>{{ 'theme.label.content'|trans([], 'PrestaCMSCoreBundle') }}</legend>
            <div class="sonata-ba-collapsed-fields">
                {{ sonata_block_render({'type': 'presta_cms.block.website.selector'},
                    {'website_id' : website.id, 'locale' : website.locale, 'with_fieldset' : false, 'url' : path('presta_cms_theme_edit', { 'name': theme.name }) }
                ) }}
                {% set zones = theme.zones %}
                {% set cols  = theme.cols %}
                {% include 'PrestaCMSCoreBundle:Admin/Block:_content.html.twig' with {'origin': 'theme'}  %}
            </div>
        </fieldset>
    </div>
</div>
{% endblock %}
