{#
/**
 * This file is part of the Presta Bundle project.
 *
 * (c) Nicolas Bastien nbastien@prestaconcept.net
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
/**
 * Theme edition
 */
#}

{% extends base_template %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        '@PrestaCMSCoreBundle/Resources/public/js/cms.js'
    %}

    <script type="text/javascript" src="{{ asset('bundles/prestaassettinymce/js/tiny_mce/tiny_mce.js') }}"></script>
    <script type="text/javascript" src="{{ asset_url }}"></script>
    <script type="text/javascript">
        {#
        /**
         * Initialize CMSContent
         * Specific function so it can be called asynchrone
         */
        #}
        function CMSContentInit() {
        {% if (website) %}
            CMSContent.init(
                "{{ path('presta_cms_theme_edit_block', { 'website_id': website.id, 'locale': website.locale }) }}",
                "{{ path('presta_cms_theme_render_block', { 'locale': website.locale }) }}"
            );
        {% endif %}
        }
        $(document).ready(function() {
            CMSContentInit();
        });
        var website_selector_url = "{{ path('presta_cms_theme_edit', { 'name': theme.name }) }}";
    </script>
    {% endjavascripts %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('' ~ theme.adminStyle) }}"></script>
{% endblock %}

{% block title %}
    Theme - {{ theme.name }}
{% endblock %}
{% block breadcrumb %}
    CMS > Gestion des themes > {{ theme.name }}
{% endblock %}

{% block content %}
<div id="modal" class="modal modal-large hide">
  <div class="modal-header">
    <h3 id="modal-title">Edit block</h3>
  </div>
  <div id="modal-body" class="modal-body">
      <div id="modal-loader">
          <img src="{{ asset('bundles/prestasonataadmin/img/loader.gif') }}" />
      </div>
      <div id="modal-content"></div>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal"><i class="icon-ok icon-remove"></i>&nbsp;Close</a>
    <a href="#" class="btn btn-primary" onclick="CMSContent.submitModalForm();"><i class="icon-ok icon-white"></i>&nbsp;Save changes</a>
  </div>
</div>

<div class="sonata-ba-form">
    <fieldset>
        <legend>General Informations</legend>
        <div class="row-fluid sonata-ba-collapsed-fields">
            <div class="span5 center">
                <img src="{{ asset(theme.screenshot) }}" class="sonata-ba-img-box" />
            </div>
            <div class="span7">
                <table class="table ">
                    <tbody>
                        <tr>
                            <th><label>Name</label></th><td>{{ theme.name }}</td>
                        </tr>
                        <tr>
                            <th><label>Description</label></th><td>{{ theme.description }}</td>
                        </tr>
                        <tr>
                            <th><label>Zones</label></th>
                            <td>
                                <ul>
                                {% for zone in theme.zones %}
                                    {% if (zone.name) %}<li><strong>{{ zone.name }}</strong></li>{% endif %}
                                {% endfor %}
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <th><label>Page templates</label></th>
                            <td>
                                <ul>
                                {% for template in theme.pageTemplates %}
                                    <li><strong>{{ template.name }}</strong>{# : <p>{{ template.path }}</p> #}</li>
                                {% endfor %}
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </fieldset>
</div>
<div class="sonata-ba-form">
    <div class="form-horizontal">
        <fieldset>
            <legend>Content</legend>
            <div class="sonata-ba-collapsed-fields">
                {{ sonata_block_render({
                    'type': 'presta_cms.block.website.selector',
                    'settings': {'website_id' : website_id, 'locale' : locale, 'with_fieldset' : false}
                }) }}
                <table class="table table-bordered page-content-admin" cellspacing="5">
                    <tr>
                        {% set currentCol = 0 %}
                        {% for zone in theme.zones %}
                            {% if (currentCol == theme.cols) %}
                                {% set currentCol = zone.cols %}
                                </tr><tr>
                            {% else %}
                                {% set currentCol = currentCol + zone.cols %}
                            {% endif %}
                            <td colspan="{{ zone.cols }}">
                                {% if (zone.name) %}
                                    <div id="zone_{{ zone.name }}" class="zone_{{ zone.name }} page-zone {% if (zone.blocks|length == 0 and zone.canAddBlock == false) %}page-zone-disabled{% endif %}">
                                        <h3>{{ ['zone.name.', zone.name]|join|trans }}</h3>
                                        {% if (zone.blocks) %}
                                            <div class="page-zone-block-container">
                                            {% for block in zone.blocks %}
                                                <div class="page-zone-block">
                                                    <h4>{{ ['block.title.', block.type]|join|trans }}</h4>
                                                    <div class="block-actions">
                                                        {% if (block.isEditable) %}
                                                            <a block-id="{{ block.id }}" class="action-edit">&nbsp;</a>
                                                        {% endif %}
                                                        {% if (block.isDeletable) %}
                                                            <a href="#" class="action-delete">&nbsp;</a>
                                                        {% endif %}
                                                    </div>
                                                    <div id="block-content-{{ block.id }}" class="block-content">
                                                        {{ sonata_block_render(block) }}
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                        </div>
                                    </div>
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                </table>
            </div>
        </fieldset>
    </div>
</div>
{% endblock %}