{#
/**
 * This file is part of the Presta Bundle project.
 *
 * (c) Nicolas Bastien <nbastien@prestaconcept.net>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
/**
 * Theme edition
 */
#}

{% extends base_template %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('' ~ theme.adminStyle) }}"></script>
{% endblock %}

{% block title %}
    Theme - {{ theme.name }}
{% endblock %}
{% block breadcrumb %}
    CMS > Gestion des themes > {{ theme.name }}
{% endblock %}

{% block content %}
<div class="sonata-ba-form">
    <div class="form-horizontal">
        <fieldset>
            <legend>{{ 'theme.label.general'|trans([], 'PrestaCMSCoreBundle') }}</legend>
            <div class="row-fluid sonata-ba-collapsed-fields">
                <div class="span5 center">
                    <img src="{{ asset(theme.screenshot) }}" class="sonata-ba-img-box" />
                </div>
                <div class="span7">
                    <table class="table ">
                        <tbody>
                            <tr>
                                <th><label>{{ 'theme.label.name'|trans([], 'PrestaCMSCoreBundle') }}</label></th><td>{{ theme.name }}</td>
                            </tr>
                            <tr>
                                <th><label>{{ 'theme.label.description'|trans([], 'PrestaCMSCoreBundle') }}</label></th><td>{{ theme.description }}</td>
                            </tr>
                            <tr>
                                <th><label>{{ 'theme.label.zones'|trans([], 'PrestaCMSCoreBundle') }}</label></th>
                                <td>
                                    <ul>
                                    {% for zone in theme.zones %}
                                        {% if (zone.name) %}<li><strong>{{ zone.name }}</strong></li>{% endif %}
                                    {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <th><label>{{ 'theme.label.page_templates'|trans([], 'PrestaCMSCoreBundle') }}</label></th>
                                <td>
                                    <ul>
                                    {% for template in theme.pageTemplates %}
                                        <li><strong>{{ template.name }}</strong>{# : <p>{{ template.path }}</p> #}</li>
                                    {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </fieldset>
    </div>
</div>

<div class="sonata-ba-form">
    <div class="form-horizontal">
        <fieldset>
            <legend>{{ 'theme.label.content'|trans([], 'PrestaCMSCoreBundle') }}</legend>
            <div class="sonata-ba-collapsed-fields">
                {{ sonata_block_render({
                    'type': 'presta_cms.block.website.selector',
                    'settings': {'website_id' : websiteId, 'locale' : locale, 'with_fieldset' : false, 'url' : path('presta_cms_theme_edit', { 'name': theme.name }) }
                }) }}
                {% set zones = theme.zones %}
                {% set cols  = theme.cols %}
                {% include 'PrestaCMSCoreBundle:Admin/Block:_content.html.twig' with {'origin': 'theme'}  %}
            </div>
        </fieldset>
    </div>
</div>
{% endblock %}