
{% extends 'PrestaSonataAdminExtendedBundle:Block/Dashboard:block_base.html.twig' %}

{% trans_default_domain "PrestaCMSCoreBundle" %}

{% block block_title %} {{ 'block.dashboard.cms.title' | trans }} {% endblock %}

{% block block_content %}
<div class="span4">
    <div class="block-content-block block-content-block-website">
        <h4>{{ 'block.dashboard.cms.website.title' | trans }}</h4>
        <a href="{{ websiteAdmin.generateUrl('list')}}" class="btn btn-small">
            <i class="icon-list"></i>&nbsp;
            {%- trans from 'SonataAdminBundle' %}link_list{% endtrans -%}
        </a>
    </div>
</div>
<div class="span4">
    <div class="block-content-block block-content-block-theme">
        <h4>{{ 'block.dashboard.cms.theme.title' | trans }}</h4>
        <a href="{{ path('presta_cms_theme') }}" class="btn btn-small">
            <i class="icon-list"></i>&nbsp;
            {%- trans from 'SonataAdminBundle' %}link_list{% endtrans -%}
        </a>
    </div>
</div>
<div class="span4">
    <div class="block-content-block block-content-block-page">
        <h4>{{ 'block.dashboard.cms.page.title' | trans }}</h4>
        <a href="{{ path('presta_cms_page_edit') }}" class="btn btn-small">
            <i class="icon-list"></i>&nbsp;
            {%- trans from 'SonataAdminBundle' %}link_list{% endtrans -%}
        </a>
    </div>
</div>
{% endblock %}
