{% extends 'PrestaCMSCoreBundle:Block:base_block.html.twig' %}

{% block block %}
    {% if (settings.title|length) %}
        <{{ settings.title_level }} class="cms-block-title">{{ settings.title|raw }}</{{ settings.title_level }}>
    {% endif %}

    {% if (settings.content|length) %}
        <div class="cms-block-content">
            {{ settings.content|wysiwyg|raw }}
        </div>
    {% endif %}

    <ul class="cms-block-page-children-container">
        {% for child in cmf_children(settings.page) %}
            {% if child.descriptionEnabled is defined and child.descriptionEnabled == true %}
            <li>
                <h3>{{ child.descriptionTitle }}</h3>
                <p>{{ child.descriptionContent }}</p>
                <p>
                    <a href="{% if (block.isAdminMode) %}#{% else %}{{ path(child) }}{% endif %}">
                        {{ child.descriptionTitle }}
                    </a>
                </p>
            </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}
