{% extends 'PrestaCMSCoreBundle:Block:base_block.html.twig' %}


{% set containerId = block.id %}
{% set isAdminMode = block.isAdminMode %}

{% macro render_container_block(blockId, isAdminMode) %}
    {% set block = cmf_find(blockId) %}

    {% if (isAdminMode) %}
    <div class="page-zone-block">
        {% if(block) %}
            {% do block.setAdminMode() %}

            <h4>{{ ['block.title.', block.type]|join|trans([], 'PrestaCMSCoreBundle') }}</h4>
            <div class="block-actions">
                {% if (block.isEditable) %}
                    <a block-id="{{ block.id }}" class="action-edit">&nbsp;</a>
                {% endif %}
                {% if (block.isDeletable) %}
                    <a block-id="{{ block.id }}" block-title="{{ ['block.title.', block.type]|join|trans([], 'PrestaCMSCoreBundle') }}" class="action-delete">&nbsp;</a>
                {% endif %}
            </div>
        {% endif %}
        <div id="block-content-{{ blockId|replace({'/': '', '.': '', '_': ''}) }}">
    {% endif %}

    {% if(block) %}
        {{ sonata_block_render(block) }}
    {% elseif(isAdminMode) %}
        <a class="btn sonata-action-element action-container-add" block-id="{{ blockId }}">
            <i class="icon-plus"></i>
        </a>
    {% endif %}

    {% if (isAdminMode) %}
        </div>
    </div>
    {% endif %}
{% endmacro %}
{% import _self as prestacms %}

{% block block %}
<div id="zone_{{ containerId }}" class="cms-container cms-container-{{ settings.layout }} {{ settings.class }}">
    {% if(settings.title|length) %}
        <{{ settings.title_level }} class="cms-container-title">{{ settings.title|raw }}</{{ settings.title_level }}>
    {% endif %}

    <div class="cms-container-content">
        {% include 'PrestaCMSCoreBundle:Block/Container:' ~ settings.layout ~ '.html.twig' %}
    </div>
</div>
{% endblock %}