{% extends 'PrestaCMSCoreBundle:Block:base_block.html.twig' %}

{% block block %}
    {% if (settings.title|length) %}
        <h2 class="cms-block-title">{{ settings.title }}</h2>
    {% endif %}

    {% if (settings.content|length) %}
        <div class="cms-block-content">
            {{ settings.content|raw }}
        </div>
    {% endif %}

    <ul class="cms-block-page-children-container">
        {% for child in cmf_children(settings.page) %}
            {%  if child.title is defined %}
            <li>
                <h3>{{ child.title }}</h3>
                <p>{{ child.description }}</p>
                <p><a href="{% if (block.isAdminMode) %}#{% else %}{{ path(child) }}{% endif %}">{{ child.title }}</a></p>
            </li>
            {%  endif %}
        {% endfor %}
    </ul>
{% endblock %}
