{#
  @package    PrestaCMS
  @subpackage CoreBundle
  @author     Nicolas Bastien <nbastien@prestaconcept.net>

  Website Selector block
  To work main view has to define a javascript variable : 'website_selector_url'
#}
{% if (settings.with_fieldset) %}
<fieldset class="website-selector">
    <legend>{{ 'presta_cms.block.website.selector.title' |trans({}, 'PrestaCMSCoreBundle') }}</legend>
    {% endif %}
    <div class="control-group">
        <label class="control-label" for="website_selector">{{ 'presta_cms.block.website.selector.title' |trans({}, 'PrestaCMSCoreBundle') }}</label>

        <div class="controls">
            {% if (hasMultipleWebsite == false) %}
                {% set website = websites|first %}
                <div id="website-selector" class="navbar">
                    <div class="navbar-inner">
                        <a id="website-name" class="brand" href="#">{{ website.name }}</a>
                        <ul id="website-locale" class="nav">
                            {% for locale in website.availableLocales %}
                                <li class="locale locale_{{ locale }} {% if (settings.locale == locale) %} active{% endif %}">
                                    <a href="{{ settings.url }}?website={{ website.id }}&locale={{ locale }}" class="locale locale_{{ locale }}"
                                       title="{{ ('locale.'~locale)|trans({}, 'PrestaCMSCoreBundle') }}"></a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% else %}
                <select id="website-selector" name="website_selector" required="required" class="sonata-medium"
                        onchange="return switchWebsite();">
                    <option></option>
                    {% for website in websites %}
                        <optgroup label="{{ website.name }}">
                            {% for locale in website.availableLocales %}
                                <option value="{{ website.id }}&locale={{ locale }}" {% if (settings.website_id == website.id and settings.locale == locale) %} selected {% endif %}>{{ website.name }}
                                    - {{ locale|trans() }}</option>
                            {% endfor %}
                        </optgroup>
                    {% endfor %}
                </select>
            {% endif %}
        </div>
    </div>
    {% if (settings.with_fieldset) %}
</fieldset>
{% endif %}
<script>
    function switchWebsite() {
        if ($('#website_selector').val() == '') {
            return;
        }
        window.location.href = '{{ settings.url }}' + '?website=' + $('#website_selector').val();
    }
</script>
