{% extends 'PrestaCMSCoreBundle:Block:base_block.html.twig' %}
{% trans_default_domain "PrestaCMSCoreBundle" %}

{% block block %}
    {% if (settings.title|length) %}
        <{{ settings.title_level }} class="cms-block-title">{{ settings.title|raw }}</{{ settings.title_level }}>
    {% endif %}

    {% if (settings.content|length) %}
        <div class="cms-block-content">
            {{ settings.content|wysiwyg|raw }}
        </div>
    {% endif %}

    <ul class="cms-block-page-children-container">
        {% for childPage in settings.childrenPages %}
            <li>
                <h3>{{ childPage.descriptionTitle }}</h3>
                {% if childPage.descriptionMedia is defined %}
                    {% thumbnail childPage.descriptionMedia, 'step_page' %}
                {% endif %}
                <p>{{ childPage.descriptionContent }}</p>
                <p>
                    <a href="{% if (block.isAdminMode) %}#{% else %}{{ path(childPage) }}{% endif %}">
                        {{ 'presta_cms.block.page_children.link' | trans() }}
                    </a>
                </p>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
