<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title></title>

        {% block stylesheets %}
            {% stylesheets filter='cssrewrite' filter='?yui_css'
                '@PrestaCMSCoreBundle/Resources/public/css/bootstrap.min.css'
                '@PrestaCMSCoreBundle/Resources/public/css/default.css'
                '@PrestaCMSCoreBundle/Resources/public/themes/default/css/main.css'
            %}

            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}

        {% endblock %}


        {% block javascripts %}
            {% javascripts filter='?yui_js'
                '@PrestaCMSCoreBundle/Resources/public/themes/default/js/main.js'
            %}

            <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}

        {% endblock %}
        
    </head>
    <body>
        <div id="header-top-container">
            <div class="container"> 
                {{ website }} - {{ website.locale }}
            </div>
        </div>
        <div id="header-container">
            <div id="header" class="container">                
                <div id="zone-top-left" class="span6">
                    {% for block in theme.zones.top_left.blocks %}
                        {{ sonata_block_render(block) }}
                    {% endfor %}
                </div>
                <div id="header-logo" class="span6"></div>
            </div>
        </div>
        {#
        <div id="navigation" class="navbar nav-pills">
            <div class="navbar-inner">
                <div class="container"></div>
            </div>
        </div>
        #}
        <div id="breadcrumb-container-outer">
            <div id="breadcrumb-container">
                <div class="breadcrumb-container-border"></div>
                <div id="breadcrumb" class="container">
                    <h1>Breadcrumb</h1>
                </div>
                <div class="breadcrumb-container-border"></div>
            </div>
        </div>
        <div id="page-container-outer">
            <div id="page-container" class="container">
                {% block content %}
                
                    --- PAGE CONTENT ---
                
                {% endblock %}
            </div>
        </div>
        <div id="footer-container-outer">
            <div id="footer-top-container">
                <div class="container">
                    
                </div>
            </div>
            <div id="footer-container">
                <div class="container">
                    <div class="row">
                        <div id="zone-footer-left" class="span6">
                            {% for block in theme.zones.footer_left.blocks %}
                                {{ sonata_block_render(block) }}
                            {% endfor %}
                        </div>
                        <div id="zone-footer-right" class="span6">
                            {% for block in theme.zones.footer_right.blocks %}
                                {{ sonata_block_render(block) }}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
