{% trans_default_domain "PrestaCMSCoreBundle" %}
{% form_theme form 'SonataAdminBundle:Form:form_admin_fields.html.twig' %}

<div class="tab-pane form-horizontal" id="cache_form_tab">

    <form id="edit_cache_form" class="form-horizontal" method="POST"
          action="{{ path('presta_cms_page_edit_cache', {'website': website.id, 'id': page.id, 'locale': page.locale}) }}">
        <fieldset>
            <div class="sonata-ba-collapsed-fields">
                <div class="offset1 span10">
                    <div id="edit_cache_form_success" class="alert alert-success hide">
                        {{ 'flash_edit_success'|trans([], 'SonataAdminBundle') }}
                    </div>
                    <div id="edit_cache_form_error" class="alert alert-error hide">
                        {{ 'flash_edit_error'|trans([], 'SonataAdminBundle') }}
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">{{ 'cms_page.form.cache.label.last_cache_modified_date' | trans }}</label>
                    <div class="controls">
                        <div style="float: left;padding-top: 5px;font-size: 14px;line-height: 20px;">{{ page.lastCacheModifiedDate | date }}</div>
                    </div>
                </div>

                {{ form_errors(form) }}

                {{ form_row(form.cachePrivate)}}
                {{ form_row(form.cacheMaxAge)}}
                {{ form_row(form.cacheSharedMaxAge)}}
                {{ form_row(form.cacheMustRevalidate)}}
            </div>
            <div class="control-group">
                <div class="controls">
                    <a class="btn btn-primary" onclick="CMSPage.submitTabForm('cache'); return false;">
                        <i class="icon-ok icon-white"></i>&nbsp;{{ 'button.save'|trans }}
                    </a>
                </div>
            </div>
        </fieldset>
        {{ form_row(form._token) }}
    </form>
</div>
